$pink: #ff4a83;

body {
  background-color: #FDFDFD;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 10vh 2rem;
  text-align: center;
  font-size: 1.25rem;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

p {
  line-height: 2;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

section#signup {
  display: flex;
  flex-flow: row nowrap;
  margin: 3rem 0;

  input {
    flex: 5;
    padding: 1rem;
    background-color: white;
  }

  button {
    background-color: $pink;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1;
    border: 0;
    letter-spacing: 0.3em;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
      "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
      "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
      "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

  }
}

section#main {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.pink {
  color: $pink
}
