---
title: Treat
---

<section id="main">
  <%= image_tag 'logo.png' %>

  <h1>
    Launching in 
    <span class="pink" id="date">Toronto, Spring 2018</span>
  </h1>

  <p>
  Text your friend a
  <span class="pink">
    coffee, beer, cupcake, or ice cream in just a click
  </span>
  </p>

  <p>
  Want to be the first to know when we launch?
  Simply type in your email below
  </p>

  <section id="signup">
    <%= partial 'mailchimp' %>
  </section>

  <p>
  Questions? Want to see your favourite vendor onboard?
  <br />
  Come say hi, <strong>info@treat.social</strong>
  </p>
</section>
